<div class="control-group">
  <label class="control-label">
    {{theme-i18n "discourse_disable_jump_reply.label"}}
  </label>

  <div class="controls">
    <label class="checkbox-label">
      {{input
        type="checkbox"
        checked=isDisabledJumpReply
        input=(action "onChangeIsDisabledJumpReply" value="target.checked")
      }}

      {{theme-i18n "discourse_disable_jump_reply.disable_jump_after_i_reply"}}
    </label>
  </div>

  <div class="instructions">
    {{theme-i18n "discourse_disable_jump_reply.instructions"}}
  </div>
</div>